body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cats img {
  width: 500px;
  height: 500px;
}

.buttons {
  display: flex;
  justify-content: space-between;
}